[submodule "static/dry/URI.js"]
	path = static/dry/URI.js
	url = ssh://github.com/medialize/URI.js
[submodule "static/dry/paho"]
	path = static/dry/paho
	url = git@github.com:eclipse/paho.mqtt.javascript.git
[submodule "static/dry/bootstrap"]
	path = static/dry/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "static/dry/mustache"]
	path = static/dry/mustache
	url = git@github.com:janl/mustache.js.git
