*:focus {
  outline: none;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#message_pump-off {
  > div.container {
    border: 1px solid blue;
    > div.row {
      border: 1px solid green;
    }
  }
}