*:focus {
  outline: none;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#message_pump {

}

section {
  margin-bottom: 1.5rem;
}

#request_form_container {
  padding: 0.5rem;
}
